.createDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createTitle{
    width: 70%;
    margin: 30px 0;
}

.createContent{
    width: 70%;
    margin: 30px 0;
}

.createButtons{
    display: flex;
    gap: 30px;
}