.goBackBtn {
  width: 80px;
  height: 35px;
  background-color: var(--button-main-color);
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

.goBackBtn:hover {
  background-color: var(--button-main-hover-color);
}
