.signUp {
  background-color: var(--main-color);
  width: 380px;
  height: 64px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 20px;
}

.main {
  background-color: var(--main-color);
}

.mypage {
  background-color: var(--main-color);
  font-size: 40px;
  width: 452px;
  height: 82px;
  font-weight: bold;
  border-radius: 5px;
}
