.signUp {
    background-color: var(--main-color);
    width: 380px;
    height: 64px;
    font-size: 16px;
    // font-weight: ;
    border-radius: 20px;
}

.main {
    background-color: var(--main-color);
}

.mypage {
    background-color: var(--main-color);
}