.headDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.headBtn{
    display: flex;
    gap: 30px;
}

.tab{
    font-size: 20px;
}

.active {
    font-size: 20px;
    font-weight: bold;
  }

.searchDiv{
    display: flex;
    gap: 10px;
    background-color: var(--button-main-hover-color);
    padding: 3px;
    padding-right: 10px;
    border-radius: 10px;
}

.searchButton{
    width: 20px;
    height: 20px;
    color: white;
}

.div2{
    display: flex;
    gap: 10px;
    align-items: center;
}