.BoardDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin: 20px;
    padding: 30px;
}
.BoardTitle{
    font-size: 30px;
    font-weight: bolder;   
}

.BoardHead{
    display: flex;
    margin-top: 50px;
    width: 100%;
    gap: 50px;
    border-bottom: 2px  solid black;
    
}

.BoardContent {
    width: 100%;
}
.BoardContentItem{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    gap: 50px; 
    margin-top: 50px;
}

.noResults{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}