.commentInputDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    gap: 20px;
}

.commentInput{
    width: 90%;
    min-height: 100px;
    border-radius: 10px;
}