.CommentListContain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid var(--main-color-dark);
}

.CommentListdiv {
  display: flex;
  flex-direction: column;
}

.CommentCreate {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
}

.CommentCreator {
  display: flex;
  gap: 10px;
}

.commentButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.GoUpdateButton {
  font-size: 15px;
  font-weight: bold;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--button-main-color);
}

.GoUpdateButton:hover {
  background-color: var(--button-main-hover-color);
}
