.contains {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contain {
  width: 700px;
  height: auto;
  min-height: 250px;
  background-color: #f0ede6;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
}

.restartButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    width: 900px;
    gap: 5px;
}

.simulationDiv{
    overflow: hidden;
    width: 900px;
    height: 450px;
    border: 1px solid #F0EDE6;
    padding: 10px;
    background-color: #F0EDE6;
    margin: 20px;
    border-radius: 5px;
}

.recommendId {
  font-size: 20px;
  font-weight: bold;
}

.shareLike {
  display: flex;
  gap: 10px;
}

.ImgPrice {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.BtnPrice {
  height: 128.75px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.toggleButton {
  display: flex;
  justify-content: right;
}

.toggleBtn {
  width: 25px;
  height: 25px;
}

.totalPrice {
  font-size: 27px;
  font-weight: bold;
  color: var(--main-color-dark);
}